# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js build output
/out
/dist
/.next

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local

# typescript
*.tsbuildinfo
next-env.d.ts

.DS_Store
.env

terraform.tfstate
terraform.tfstate.backup
.terraform*

__pycache__
